---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Funciona em qualquer navegador",
    description:
      "Você pode acessar nossos projetos concluídos de qualquer lugar, com praticamente qualquer dispositivo com acesso à internet.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Seguro",
    description:
      "Não é necessário baixar nada e não precisamos dos seus dados pessoais.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "É grátis",
    description:
      "Nossa recompensa é a própria realização deste projeto!",
    icon: "bx:bxs-data",
  },
  {
    title: "Ouvimos seus feedbacks",
    description:
      "Mande sugestões, críticas ou reclamações, ouviremos tudo.",
    icon: "bx:bxs-bot",
  },
  // {
  //   title: "SEO Enabled",
  //   description:
  //     "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
  //   icon: "bx:bxs-file-find",
  // },
  // {
  //   title: "Community",
  //   description:
  //     "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
  //   icon: "bx:bxs-user",
  // },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Você só precisa estar conectado.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    O Projeto Final Melhor é uma iniciativa dos bolsistas do PIBID da Universidade Federal de Roraima que busca transformar Literatura em games.
    Somos uma ação puramente educativa e gratuita, sem letrinhas miúdas. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
