 <footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    PIBID (UFRR) 2025.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Feito por <a
      href="https://www.linkedin.com/in/francisco-marcelaro-5a9644329"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Marcelaro Marques
    </a>
  </p>
</footer>
