 <footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    PIBID (UFRR) 2025.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Feito por <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Marcelaro Marques
    </a>
  </p>
</footer>
